<!-- 
<div class="alert alert-warning hidden-print" role="alert">
  <span class="glyphicon glyphicon-info-sign"></span> 
  In light of evolving uncertainties related to COVID-19, the decision has been made to hold XP 2020 and all affiliated events including AMP 2020 online. People who purchased a ticket to XP can request a refund or ask that the purchase price be applied to a future Agile Alliance event. Please email the XP registration team (<a href="mailto:registration@agilealliance.org">registration@agilealliance.org</a>) and they will be happy to assist you.
</div> -->